body {
    background: #533d2a;
}

.braumbanner {
    width: 100%;
}

.braumfoto {
    position: relative;
    left: 00px;
    top: -208px;
    width: 160px;
    height: 150px;
    border-top: 7px solid #533D2A;
    border-right: 7px solid #533D2A;
    border-left: 7px solid #533D2A;
    margin-left: 10%;
    
}

nav {
    background: #2B2520;
    padding: 1%;
    position: relative;
    top: -211px;
}

nav li {
    display: inline;
    color: #ffffff;
    margin: 0 0 0 1%;
}

nav a {
    text-transform: uppercase;
    color: #FDF2B8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#tituloprincipal {
    text-transform: uppercase;
    color: #FDF2B8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding-right: 35%;
    margin-left: 8%;
}

.biografia {
    position: relative;
    background: #2B2520;
    padding-top: 3%;
    padding-bottom: 3%;
    top: -150px;
    width: 100%;
}

#biografia-1linha-h1 {
    position: relative;
    text-transform: uppercase;
    color: #EEE6D2;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    top: 0px;
}

#biografia-2linha-h2 {
    position: relative;
    text-transform: uppercase;
    color: #C3AA6D;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

#biografia-3linha-img {
    width: 430px;
    height: auto;
    margin-left: 15%;
    margin-right: 10%;

}

.bio-config-paragrafo {
    width: 430px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    color: #EEE6D2;
    text-align: center;
    line-height: 40px;
    margin-left: 2%;
}



















text-low-text {
    width: 30%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    color: #EEE6D2;
    text-align: center;
    line-height: 40px;
}