body {
    background: #533d2a;
}

.braumbanner {
    width: 100%;
}

.braumfoto {
    position: relative;
    left: 00px;
    top: -208px;
    width: 160px;
    height: 150px;
    border-top: 7px solid #533D2A;
    border-right: 7px solid #533D2A;
    border-left: 7px solid #533D2A;
    margin-left: 10%;
    
}

nav {
    background: #2B2520;
    padding: 1%;
    position: relative;
    top: -211px;
}

nav li {
    display: inline;
    color: #ffffff;
    margin: 0 0 0 1%;
}

nav a {
    text-transform: uppercase;
    color: #FDF2B8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#tituloprincipal {
    text-transform: uppercase;
    color: #FDF2B8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding-right: 35%;
    margin-left: 8%;
}

.biografia {
    position: relative;
    background: #2B2520;
    padding-top: 3%;
    padding-bottom: 3%;
    top: -150px;
    width: 100%;
}

#biografia-1linha-h1 {
    position: relative;
    text-transform: uppercase;
    color: #EEE6D2;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    top: 0px;
}

#biografia-2linha-h2 {
    position: relative;
    text-transform: uppercase;
    color: #C3AA6D;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

#biografia-3linha-img {
    width: 430px;
    height: auto;
    margin-left: 15%;
    margin-right: 10%;

}

.bio-config-paragrafo {
    width: 430px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    color: #EEE6D2;
    text-align: center;
    line-height: 40px;
    margin-left: 2%;
}

.letra-capitular {
    font-size: 2rem;
  font-weight: bold;
  color: #EEE6D2;
}

.div-video {
    text-align: center;
    margin-top: -85px;
    background: #2B2520;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    margin-bottom: 150px;
    
}

#video-1linha-h1 {
    position: relative;
    text-transform: uppercase;
    color: #EEE6D2;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    top: 0px;
    padding-bottom: 30px;
}

.video {

}

#noticias {
   
}

.not-titu {
    text-transform: uppercase;
    color: #EEE6D2;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 12px;
}

.not-subti {
    text-transform: uppercase;
    color: #C3AA6D;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}

.imagem-noticia {
    width: 700px;
    height: auto;
}

.resenha-noticia {
    font-size: 16px;
    color: #C5D0D2;
    width: 60%;
    padding-top: 15px;
}

.background-1 {
    background: #2B2520;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: -85px;
    margin-bottom: 20px;
}

.ler-mais-1 {
    color: #FDF2B8;
    text-decoration: none;

}

.ler-espaçamento-1 {
    padding-top: 15px;
}

.background-2 {
    margin-top: 65px;
    background: #2B2520;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.ler-mais-2 {
color: #FDF2B8;
text-decoration: none;
}

.ler-espaçamento-2 {
    padding-top: 15px;
}

.background-3 {
    margin-top: 65px;
    background: #2B2520;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.ler-mais-3 {
    color: #FDF2B8;
text-decoration: none;
}

.ler-espaçamento-3 {
    padding-top: 15px;
}

.div-video-2 {
    text-align: center;
    margin-top: 65px;
    background: #2B2520;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    margin-bottom: 40px;
    
}

#video-2-1linha-h1 {
    position: relative;
    text-transform: uppercase;
    color: #EEE6D2;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    top: 0px;
    padding-bottom: 20px;
}

#video-2-2linha-h2 {
    position: relative;
    text-transform: uppercase;
    color: #C3AA6D;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-bottom: 2%;
}

.video-2 {
    
}

.copyright {
    margin-top: 35px;
    text-align: center;
    background: #2B2520;
    padding: 1%;
    color: #C5D0D2;
}